button{
	background-color:whitesmoke;
	border:lightgrey .5px solid;
	border-radius: 2px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	padding: 15px 32px;
	margin:4px 2px;
	height:250px;
	width:300px;
	color:blue;
	padding: 9px;
	position: relative;
}
button div{
	display: inline;
	text-align: center;
}
button div img{
	height: 200px;
	width: 280px;
	/*vertical-align: top;*/
	filter: brightness(50%);
	position: absolute;
	left:10px;
	top:10px;
}
button:hover{
	background-color: #fff195;
}

.final{
	background-color: blue;
	height: 50px;
	width: 100px;
	color: white;
}

.final:hover{
	background-color:skyBlue;
}

.text{
	position: absolute;
	z-index: 100;
	color: white;
	font-size: 36px;
	font-weight: bold;	
	text-shadow: 1px 1px 2px black;
	text-align: center;
	top: 50px;
	left: 15px;
}
